/* -------------------------------------- *
General Styles
* --------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
header {
  border: 1px solid black;
  background-image: url("../images/banners/dustin-humes-QvU179UC2Nw-unsplash.jpg");
  background-size: cover;
  height: 260px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
h1,
h2,
h3 {
  font-size: 36px;
  font-family: "Bangers", Impact, sans-serif;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: #ccc;
  padding: 12px;
}

.inspiro-img {
  width: 400px;
}
